* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #625869;
}

#container {
  border: 2px solid white;
  width: 100%;
  height: 100vh;
}

#results {
  border: 1px solid white;
  width: 90%;
  height: 150px;
  margin-left: 5%;
  margin-right: 5%;
}

#rps-boxes {
  border: 1px solid white;
  width: 90%;
  height: 20%;
  margin-top: 200px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rps-item {
  height: 200px;
  width: 200px;
  text-align: center;
}

.rps-button {
  background: #7aa3a3;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.rps-button:hover {
  opacity: 0.7;
  /* transform: scale(1.1); */
}

/* When button is clicked */
.rps-button:active {
  /* box-shadow: 0 10px #6566; */
  transform: translateY(5px);
  transform: scale(0.8);
}



#rock {
  
}