* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-container {
  display: flex;
  flex-direction: column;
  height: 123px;
}

#header-container div {
  text-align: center;
}

#header-first-section {
  display: flex;
  padding-top: 20px;
  height: 65px;
}


#header-first-section  div {
  text-align: center;
}

#top-google-logo {
  width: 130px;
  margin-right: 15px;
  background-image: 
    url("https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  /* padding-top:  */
}

#search-bar {
  width: 630px;
  /* flex-basis is also a width */
}

#search {
  width: 630px;
  height: 100%;
  border-radius: 30px;
}

#user-section {
  width: 130px;
  margin-left: auto;
}

#header-second-section {
  display: flex;
  height: 58px;
  vertical-align: middle;
}

#nav-section {
  margin-left: 160px;
  width: 630px;
  padding-top: 15px;
}

#nav-section ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 14px;
}

#nav-section ul li {
  margin-right: 27px;
}

#nav-section ul li:nth-child(6) {
  margin-right: 75px;
}

#safe-search {
  border: 1px solid black;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  line-height: 100%;
}

#safe-search span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}