/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear {
  clear:both;
}

/* Main Styling */
html, body {
  font-family: arial,sans-serif;
}

#whole-container {
  border: 1px solid black;
}

/* Header Starts */

#header-container {
  border: 1px solid black;
  width: 100%;
  height: 123px;
}

#header-first-section {
  border: 1px solid black;
  width: 100%;
  height: 52%;
  margin-top: 5px;
  padding-top: 15px;
}

#header-first-section div {
  display: inline-block;
}

#top-google-logo {
  width: 130px;
  height: 100%;
  margin-right: 30px;
  background-image: 
    url("https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

#search-bar {
  border: 1px solid black;  
  border-radius: 50px;
  height: 100%;
  width: 630px;
}

#user-section {
  border: 1px solid black;
  width: 130px;
  height: 100%;
  float: right;
}

#header-second-section {
  border: 1px solid black;
  height: 48%;
}

#header-second-section div {
  display: inline-block;
}

#nav-section {
  border: 1px solid black;
  height: 100%;
  width: 620px;
  margin-left: 170px;
}

#safe-search {
  border: 1px solid black;
  height: 100%;
  width: 130px;
  float: right;
}

/* Main Section Starts */
#main-container {
  border: 1px solid black;
  overflow: hidden;
  width: 100%;
  padding-left: 170px; 
}

#result {
  border: 1px solid black;
  height: 43px;
  width: 500px;
}

.search-result {
  border: 1px solid black;
  height: 118px;
  width: 620px;
}

#main-result {
  border: 1px solid black;
  border-radius: 15px;
  height: 191px;
  width: 630px;
}

#videos-result {
  border: 1px solid black;
  height: 305px;
  width: 400px;  
}

#bottom-ad-result {
  border: 1px solid black;
  height: 213px;
  width: 630px;
}

#search-related {
  border: 1px solid black;
  height: 149px;
  width: 620px;
}

#paragraph {
  border: 1px solid black;
  height: 34px;
  width: 620px;
}

#related-result {
  border: 1px solid black;
  height: 115px;
  width: 620px;
}

#bottom-google-logo-section {
  border: 1px solid black;
  height: 57px;
  width: 630px;
}

/* footer Section Starts */

#footer-container {
  border: 1px solid black;
  height: 83px;
  width: 100%;
  background: #f2f2f2;
}

#first-footer {
  border: 1px solid black;
  height: 50%;
  width: 100%;
}

#second-footer {
  border: 1px solid black;
  height: 50%;
  width: 100%;
}







